<!DOCTYPE html>
<html lang="en">
<!--HTML file for blog post that also contains interactive, responsive charts  -->
<!-- The initial structural code for this file came from
https://jinja.palletsprojects.com/en/stable/templates/
and https://getbootstrap.com/docs/5.2/getting-started/introduction/. 
Another helpful resource for creating Jinja2 templates actually comes
from the Plotly website itself:
https://plotly.com/python/interactive-html-export/#inserting-plotly-output-into-html-using-a-jinja2-template -->-
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employment Trends Blog Post</title>
   <!-- Bootstrap: -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <!-- Linking to Jost font: -->
    <!-- This code is based on:
    https://developers.google.com/fonts/docs/getting_started-->
<link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Jost">
<style>
    body {font-family:'Jost', sans-serif; font-size:18px}
    /* I find left-aligned text easier to read, though charts will remain
    centered.*/
    h1 {text-align: center}
    h2 {text-align: center}
    h3 {text-align: center}
    
    p {text-align: start}
    .chart_title {text-align: center}
    .chart_annotation {text-align: left; font-size:14px; margin-top: 10px}
    /* .chart_contents {} */ 
</style>
    
</head>
<body>

<!-- Layout code within <body> was based on:
        https://getbootstrap.com/docs/4.0/layout/grid/ -->
    <div class="container-md">
        <div class="row">
            <!-- m-auto keeps this div centered. -->
            <div class="col-md-6 m-auto">
                <h1>[VERY EARLY WORK IN PROGRESS] CPS data indicates 
that US software-developer employment has increased since 2022</h1>
                
<p>By Ken Burchfiel</p>
                
<p>Released under the CC-BY license</p>
<p><i>Note: I did not use generative-AI tools for any part of this 
project, including my code, my visualizations, and this blog post.</i></p>
<h2>Introduction and methodology</h2>
<p>In order to assess whether software-developer employment has 
been increasing or decreasing since ChatGPT was released in 2022, I 
downloaded Current Population Survey data from IPUMS, then analyzed it 
in Python using the <a href = 'https://svylab.com/docs/svy/'>svy</a> library. 
(The CPS was also the survey of choice for <a href='https://www.wsj.com/economy/
jobs/tech-has-never-caused-a-job-apocalypse-dont-bet-on-it-now-
d192b579?mod=economy_lead_story'>a similar analysis</a> conducted by 
James Bessen at Boston University; his work helped inspire 
my own analysis project. My analysis focuses only on the 
'Software developers, applications and system software' occupation 
category, and not on other related fields, such as web developers and 
computer programmers.</p>
<p>The strata, PSUs, and weights that I used for my survey sample were based 
on <a href = 'https://forum.ipums.org/t/calculating-standard-errors-
using-cps-basic-monthly-microdata/6408/7'> guidance from Ivan Strahof at 
IPUMS</a>, whose recommendations were in turn based 
in part on <a href = 'https://journals.sagepub.com/doi/epdf/10.5034/
inquiryjrnl_44.2.211'>a 2007 research paper by Michael Davern et al</a>. 
(I may tweak my strata a bit in the future in order to divide Delaware 
results by county; this tweak, however, should not change the substance 
of my findings.)</p>
<p>To see visualizations of my employment-total calculations not covered in 
this blog post, visit <a href='https://kburchfiel.github.io/\
employment_trends/occ_dashboard.html'> this interactive dashboard</a>. 
Also, if you'd like to review and/or 
repurpose the code that I used for this analysis, 
you can find it <a href='https://github.com/kburchfiel/
employment_trends'> within this GitHub project</a>.</p>
<h2>Findings</h2>
<h3>Yearly employment trends</h3>
<p>
My analyses indicate that software-developer employment has increased 
from around 2 million in 2022 to over 2.5 million in 2026. (2026 data 
is current through August.)</p>
            </div></div>
<!-- Including an HTML file that will then
get added into this page when it gets rendered:
(This was based on https://jinja.palletsprojects.com/en/stable/templates/#include 
I'm making figure columns wider than text columns in order to allow more room for the visualization.
Another option would be to use the same width for both elements--in which case there would be 
no need to place these items within separate rows and columns.-->
<div class = "row">
<div class="col-md-8 m-auto">
{% include 'Charts/software_developer_employment_by_year_with_error_bars.html' %}
</div></div>
                
<div class = "row">
<div class="col-md-6 m-auto">
<p>This chart displays 95% confidence intervals together with point estimates. 
Note that the intervals for 2022 and 2026 do not overlap, meaning we can be 
confident that the increase in employment over that time is 
statistically significant.</p>
<p>Note: As with <a href='https://kburchfiel.github.io/employment_trends/
occ_dashboard.html'>my interactive dashboard</a>, you can can hover over 
points on the charts within this blog post in order to view actual 
confidence-interval and point-estimate values.)</p>
<h3>Monthly employment trends</h3>
<p>Since the CPS is normally administered each month, we can also 
assess trends on a monthly level. These should be interpreted with caution, 
as monthly confidence intervals will be larger than yearly ones. However, 
the <i>upper</i> bound of the confidence interval for November 2022 (2,289,355) 
within the following chart is still lower than the <i>lower</i> bound of the 
August 2026 confidence interval (2,419,564).</p><p>As a result, we can conclude 
that software-developer employment has increased from ChatGPT's 
release <a href = 'https://en.wikipedia.org/wiki/ChatGPT'> on November 30, 
2022</a> to August 2026.</p></div></div>
<div class = "row">
<div class="col-md-8 m-auto">
{% include 'Charts/software_developer_employment_by_year_and_month_with_error_bars.html' %}
</div>
</div>
<div class = "row">
<div class="col-md-6 m-auto">
<h3>More to come soon!</h3>
</div>
</div>

</p>
        
<!--  Templates for new paragraphs and headers:
    
Header: Replace 'h3' with 'h1', 'h2', etc. as needed
    
<div class="row">
    <div class="col-md-8 m-auto">
        <h3></h3>
    </div>
</div> 

Row:
<div class="row">
    <div class="col-md-8 m-auto">
        <p></p>
    </div>
</div>                
-->

    </div>
</body>



